.expertInfoModal {
  max-height: 100vh;
  overflow-y: auto;
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 482px;
  min-height: 200px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 64px 24px 24px 24px;

  @media (max-width: 922px) {
    max-width: 482px;
    width: 100%;
  }

}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  color: #1F2937;

  @media (max-width: 922px) {
    flex-wrap: wrap;
  }

}

.mainInfo {
  display: flex;
  align-items: center;

  @media (max-width: 922px) {
    width: 100%;
  }

}

.avatar {
  width: 80px;
  height: 80px;
  margin-right: 16px;
  border-radius: 50%;
}

.modal__shareProfile {
  margin-top: 15px;

  @media (max-width: 922px) {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 10px;
  }

}

.closeBtn {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 28px;
  right: 28px;
}

.expertInfoModal__Text {
  margin-top: 38px;
  margin-bottom: 40px;
  @media (max-width: 922px) {
    border: none!important;
  }

}

.expertInfoModal__donateBtn {
  margin: 0 auto;
}
