.expertsBlock {
  font-size: 14px;
  line-height: 20px;
  color: #1F2937;
  margin: 0 auto 245px;
  width: 938px;
  background: #FFFFFF;
  box-shadow: -3px -2px 33px rgba(0, 0, 0, 0.03), 5px 7px 14px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding: 30px 42px 32px;

  @media (max-width: 992px) {
    width: 100%;
    padding-inline:0 ;
  }
}

.expertsTitle {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #374151;
  margin-bottom: 64px;

  @media (max-width: 992px) {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.expertsNumber {
  order: 1;

  @media (max-width: 992px) {
    order: 2;
    width: 100%;
    text-align: center;
  }
}

.expertsDesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;

  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
}

.expertsListHeader {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  @media (max-width: 992px) {
    display: none;
  }
}

.cellName_header {
  padding-left: 27px;
  display: flex;
  align-items: center;
  width: 32%;
}

.cellContributors_header {
  width: 18%;
}

.cellDonations_header {
  width: 15%;
}

.cellBonus_header {
  width: 12%;
}

