
.expertsTime {
  width: 290px;
  display: flex;
  justify-content: end;
  align-items: center;
  order: 2;
  @media (max-width: 992px) {
    order: 1;
    width: 100%;
    justify-content: center;
    margin-bottom: 24px;
  }


  .expertsTimeMinutes {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #374151;
    letter-spacing: 2.2px;
    margin-left: 16px;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }
}

.timeBit {
  display: inline-block;
  width: 27px;
  text-align: center;
  margin-inline: 5px ;
}
